/* --- BUTTONS --- */
@import '../settings/colors';
@import '../settings/fonts';

@import '../tools/mixins';

%btn-default {
  @include font($font-default, 12px, 400, $white-900);
  background-color: $black-900;
  border-radius: 0;
  border: 2px solid $black-900;
  padding: 5px 10px;

  &.rs-btn-active {
    background-color: $white-900;
    color: $black-900;
  }
}