/* --- ANIMATION SLIDER --- */
@import '../../styles/settings/colors';

@import '../../styles/components/typography';
@import '../../styles/components/slider-base';

@import '../../styles/tools/mixins';


.animation-slider {
  margin: 0;
  padding: 10px 10px !important;
  width: 100%;

  &--controls,
  &--slider {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }

  &--controls {
    align-items: flex-end;
    display: inline-flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 70px;

    .btn-ui {
      @include font($font-default, 14px, 400, $white-900);
      background-color: $black-900;
      border: 2px solid $black-900;
      border-radius: 0;
      margin: 0 5px 0 0;
      padding: 10px;
      width: 32px;

      .rs {
        &-icon {
          @include rem('font-size', 10px);
          line-height: 1em;
          float: left;

          &-pause {
            display: none;
          }
        }
      }

      &.active {
        background-color: $white-900 !important;

        .rs {
          &-icon {
            color: $black-900;

            &-play {
              display: none;
            }

            &-pause {
              display: inline-block;
            }
          }
        }
      }

      &:hover,
      &:focus {
        background-color: inherit;

        .rs-icon {
          color: $black-900;
        }
      }

      &:last-of-type {
        margin: 0;
      }
    }

    .current {
      @include box-display;
    }
  }

  &--slider {
    @extend %slider;
    padding: 15px !important;
    width: calc(100% - 70px);
  }

  &--title {
    padding: 0;

    p {
      @extend %text;
      margin: 0 0 10px;
    }
  }
}