/* --- MAIN  --- */
@import '../../styles/settings/colors';
@import '../../styles/settings/fonts';

@import '../../styles/tools/mixins';

.rs-notification {
  &-description {
    @include font($font-default, 12px, 400, $black-900);
  }

  &-item {
    &-content {
      border-radius: 0;
      padding: 15px;
    }
  }

  &-title {
    @include font($font-default, 14px, 700, $black-900);
    text-transform: uppercase;
  }
}