/* --- SELECT LETTERS --- */
@import '../../styles/settings/colors';
@import '../../styles/settings/fonts';

@import '../../styles/components/typography';

@import '../../styles/tools/mixins';

.select-letters {
  display: inline-block;
  float: none;
  padding: 0;
  position: relative;
  width: 100%;
  vertical-align: top;

  &--count,
  &--content,
  &--title {
    position: relative;
  }

  &--content {
    .letter {
      display: inline-block;
      margin: 0;
      padding: 0;
      
      &--text {
        @include rem('font-size', 20px);
        letter-spacing: inherit;
      }

      &[data-active="true"] {
        .letter {
          &--text {
            color: $purple-900;

            &:before {
              display: none;
            }
          }
        }
      }
    }

    .separator {
      display: none;
    }
  }

  &--count {
    margin: 10px 0 0;

    p {
      @extend %text;

      strong {
        @include rem('font-size', 16px);
        font-weight: 700;
      }
    }
  }

  &--title {
    margin: 0;
    padding: 10px;

    p {
      @extend %text;
    }
  }
}