/* --- PREVIEW --- */
@import '../../styles/settings/colors';

@import '../../styles/components/typography';
@import '../../styles/tools/mixins';

.preview {
  @include box-display;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0;
  position: relative;
  width: 100%;
  vertical-align: top;

  &--content {
    align-content: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    float: left;
    flex-flow: row wrap;
    height: 540px;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;

    .letter {
      @include box-display;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: inherit;

      &--text {
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
      }
    }

    .separator {
      display: block;
      margin: 0;
      width: 100%;
    }
  }

  &--title {
    .rs-message {
      background-color: transparent;
      margin: 10px 0 0;

      .rs-message {
        &-container {
          padding: 10px 30px;

          p {
            @extend %text;
            font-weight: 700;
            position: relative;

            &:before {
              background-color: $red-900;
              content: '';
              height: 6px;
              left: -15px;
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              width: 6px;
            }
          }
        }
      }
    }

    p {
      @extend %text;
    }
  }

  canvas {
    @include box-display;
    background-color: $black-900;
    display: none;
    float: left;
    position: relative;
    transform-origin: center top;
    vertical-align: top;
  }
  
  video {
    display: none;
  }
}