/* --- LETTER --- */
@import '../../styles/settings/colors';
@import '../../styles/settings/fonts';

@import '../../styles/components/animations';

@import '../../styles/tools/mixins';

.letter {
  line-height: 1em;
  position: relative;
  vertical-align: top;
  z-index: 9;

  &--text {
    @include rem('font-size', 20px);
    color: $black-900;
    font-family: inherit;
    cursor: pointer;;
    line-height: 1em;
    margin: 0;
    vertical-align: top;
    user-select: none;

    &:before {
      background-color: rgba($purple-900, 0.9);
      content: '';
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      transition: all 400ms $base-ease;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  &--easing {
    @include box-display;
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
    vertical-align: top;

    svg {
      letter-spacing: 0em;
    }
  }

  &[data-active="true"],
  &:hover {
    z-index: 999;

    .letter {
      &--text {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  &[data-type="2"] {
    .letter-type {
      &:first-of-type {
        .letter-type {
          &--item {
            &[data-active="true"] {
              background-color: $purple-900;
            }
          }
        }
      }
    }

    &[data-active="true"] {
      align-items: flex-start;
      display: inline-flex !important;
      justify-content: flex-start;

      > .letter {
        &--text {
          &:before {
            display: inline-block;
          }

          &:first-of-type {
            @include rem('font-size', 66px);
            margin: 0;
            line-height: 1em;
            text-align: left;
            width: 90px;

            &:before {
              display: none;
            }
          }
        }
      }
    }

    &:hover {
      z-index: 999;
      
      .letter {
        &--text {
          color: $black-900;
          position: relative;
        }
      }

      &[data-active="true"] {
        .letter {
          &-type {
            display: inline-block;
          }
        }

        &:after {
          background-color: $red-900;
          border-radius: 100%;
          content: '';
          height: 4px;
          left: 0;
          position: absolute;
          top: 0;
          width: 4px;
        }
      }
    }
  }

  &[data-type="3"] {
    .letter {
      &--text {
        display: inline-block;
        letter-spacing: 0em;
        
        &.end {
          display: none;
          color: $black-900;

          &:before {
            display: none;
          }
        }
      }
    }

    &[data-active="true"] {
      .letter {
        &--text {
          display: none;

          &.end {
            display: inline-block;
            letter-spacing: 0em;
          }
        }

        &-item {
          &-animation {
            position: relative;
          }
        }
      }
    }

    &:hover {
      .letter {
        &--text {
          color: $black-900;

          &:before {
            display: none;
          }
        }
      }
    }
  }
}