/* --- LETTER TYPE --- */
@import '../../../styles/settings/colors';
@import '../../../styles/settings/fonts';

@import '../../../styles/tools/mixins';

.letter-type {
  background-color: rgba($white-900, 0.9);
  border: none;
  display: none;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: left;
  user-select: none;
  width: auto;
  z-index: 2;

  &--item {
    border: 1px solid rgba($black-900, 0.1);
    border-right: none;
    display: inline-block;
    line-height: 1em;
    margin: 0 0 1px;
    padding: 0;
    position: relative;
    width: 50px;
    vertical-align: top;

    .letter {
      &--text {
        padding: 10px !important;
        width: 100% !important;
      }

      &-item {
        display: inline-block;
        float: left;
        line-height: 1em;
        padding: 0;
        width: 100%;
        vertical-align: top;
      }
    }

    &[data-active="true"] {
      background-color: rgba($red-900, 1);

      > .letter-item {
        .letter--text {
          color: $white-900 !important;
        }
      }
    }

    &:last-child {
      border-right: 1px solid rgba($black-900, 0.1);
    }
  }
}