/* --- LETTER TYPE --- */
@import '../../../styles/settings/colors';
@import '../../../styles/settings/fonts';

@import '../../../styles/tools/mixins';

.letter {
  &-type {
    background-color: rgba($white-900, 0.9);
    border: none;
    display: none;
    flex-flow: row wrap;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: left;
    user-select: none;
    width: auto;
    z-index: 2;

    &--item {
      border: 1px solid rgba($black-900, 0.1);
      border-right: none;
      display: inline-block;
      line-height: 1em;
      margin: 0 0 1px;
      padding: 0;
      position: relative;
      width: 40px;
      vertical-align: top;

      .letter {
        &--text {
          letter-spacing: 0.1em;
          line-height: 1em;
          padding: 0;
          width: 100% !important;
        }

        &-item {
          display: inline-block;
          float: left;
          line-height: 1em;
          padding: 0;
          width: 100%;
          vertical-align: top;
        }
      }

      &[data-active="true"] {
        background-color: rgba($red-900, 1);

        > .letter-item {
          .letter--text {
            color: $white-900 !important;
          }
        }
      }

      &:last-child {
        border-right: 1px solid rgba($black-900, 0.1);
      }
    }
  }

  &[data-type="2"] {
    .letter {
      &--text {
        color: $black-900;
        display: inline-block;
        font-size: inherit;
        float: left;
        line-height: inherit;
        letter-spacing: inherit;
        padding: 0;
        text-align: center;
        width: auto;

        &:before {
          bottom: 0;
          display: none;
          height: 2px;
          left: 1px;
          opacity: 1;
          top: initial;
          position: absolute;
          width: calc(100% - 2px);
          z-index: 5;
        }
      }

      &-type {
        display: none;
        left: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        width: auto;

        &--item {
          float: left;
        }

        .letter {
          &--text {
            @include rem('font-size', 16px);
            line-height: 1em;
            letter-spacing: initial;
            padding: 8px 10px;
          }
        }
      }
    }
  }
}