/* --- PREVIEW --- */
@import '../../styles/settings/colors';

@import '../../styles/components/typography';

.select-final-state {
  display: inline-block;
  padding: 10px 5px;
  width: 100%;
  vertical-align: top;

  &--content {
    float: left;
    line-height: 1em !important;
    padding: 10px 5px;
    position: relative;
    width: 100%;

    .letter {
      display: none;
      float: left;
      font-size: inherit;
      line-height: 1em;
      letter-spacing: inherit;
      width: 100%;

      &--text {
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
      }

      &[data-active="true"] {
        align-items: center;
        display: inline-flex !important;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
      }
    }

    .word {
      float: left;
      width: 100%;
    }
  }

  &--title {
    .rs-message {
      background-color: transparent;
      margin: 10px 0 0;

      .rs-message {
        &-container {
          padding: 10px 30px;

          p {
            @extend %text;
            font-weight: 700;
            position: relative;

            &:before {
              background-color: $red-900;
              content: '';
              height: 6px;
              left: -15px;
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              width: 6px;
            }
          }
        }
      }
    }

    p {
      @extend %text;
    }
  }
}