/* --- SELECT INIT STATE --- */
@import '../../styles/settings/colors';
@import '../../styles/settings/fonts';

@import '../../styles/components/buttons';
@import '../../styles/components/typography';

@import '../../styles/tools/mixins';

.select-init-state {
  float: left;
  padding: 10px;
  position: relative;
  width: 100%;
  vertical-align: top;

  &--content,
  &--title {
    padding: 0 !important;
  }

  &--content {
    .rs-btn {
      @extend %btn-default;
      margin: 2px 4px 2px 0;
    }
  }

  &--title {
    p {
      @extend %text;
      margin: 0 0 10px;
    }
  }
}
