/* --- DRAD DROP --- */
@import '../../styles/settings/colors';
@import '../../styles/settings/fonts';

@import '../../styles/components/animations';

@import '../../styles/tools/mixins';

.drag-drop {
  background-color: transparent;
  height: 100%;
  right: 0;
  margin: 0 !important;
  position: absolute;
  top: 0;
  width: 70px;

  &--container {
    @include box-display;
    float: left;
    position: relative;
    width: 100%;

    &--text {
      @include font($font-default, 14px, 400, rgba($black-900, 0.3));
      text-transform: uppercase;
    }
  }

  .rs-uploader {
    @include box-display;
    float: left;
    position: relative;

    &-draggable {
      height: 100%;
    }

    &-trigger {
      @include box-display;
      height: 100%;
      padding: 0;
      position: relative;
      width: 100%;

      &-btn {
        border: none;
        background-color: transparent !important;
        border-radius: none;
        display: inline-flex !important;
        height: 100%;
        justify-content: center;
        justify-items: center;
        flex-flow: row wrap;
        transition: all 500ms $base-ease;
        width: 100%;
      }
    }

    input {
      visibility: hidden;
    }
  }
}