/* -- LETTER ITEM ANIMATION --- */

.letter-item-animation {
  .letter {
    &--text {
      opacity: 0.3;
    }
  }

  &--container {
    left: 0;
    position: absolute;
    top: 0;

    img {
      background-color: rgba(#fff, 0.3);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .canvas {
    box-sizing: border-box;
    display: inline-block;
    left: 0;
    font: inherit;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  
    & + .letter-type {
      display: none !important;
    }
  }
}