/* -- LETTER ITEM ANIMATION --- */
@import '../../../styles/settings/colors';

.letter-item-animation {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: top;
  
  .letter {
    &--text {
      opacity: 1;
    }
  }

  .canvas {
    box-sizing: border-box;
    display: inline-block;
    left: 0;
    font: inherit;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}